<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <title>Kernel Panic Forums - Кидайте смешные картинки с баша</title>
    <link href="/static/kernel_panic.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="container">
    <div id="header">
        <h1><span class="green">[</span> Kernel Panic Forums <span class="green">]</span></h1>
        <p>~# Тред: #4</p>
    </div>

    <div id="nav">
        <a href="/kernel_panic">&lt;&lt; Назад к списку тем</a> | <a href="/kernel_panic/404">Регистрация</a>
    </div>

    <div id="content">
        <div class="thread-post">
            <div class="post-author">lol_kek</div>
            <div class="post-body">
                <p>Накидайте смищных картинок с башорга. Я начну:</p>
                <p>&lt;Цитата #40099&gt;<br>xxx: блин, свет выключили, сижу и думаю, чем бы заняться...<br>yyy: а ты комп включи, и сразу найдется чем заняться!<br>xxx: ты гений!</p>
                <span class="post-date">10.10.2007, 18:00</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Cheburek</div>
            <div class="post-body">
                <p>xxx: Купил котенка. Назвал его "Гав".<br>yyy: Почему "Гав"?<br>xxx: Потому что он - сын собаки!</p>
                <span class="post-date">10.10.2007, 18:15</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Padonak</div>
            <div class="post-body">
                <p>Аффтар жжот! Пешы исчо!</p>
                <span class="post-date">10.10.2007, 19:00</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">lol_kek</div>
            <div class="post-body">
                <p>&lt;Цитата #8948&gt;<br>xxx: У меня одного такое чувство, что слово "логично" произошло от слова "логин"?</p>
                <span class="post-date">11.10.2007, 11:45</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Cheburek</div>
            <div class="post-body">
                <p>xxx: Привет, я терминатор.<br>yyy: Привет, я тоже.</p>
                <span class="post-date">11.10.2007, 12:30</span>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>&copy; 2007 Kernel Panic Forums. Все права защищены.</p>
    </div>
</div>

</body>
</html>
