<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <title>Kernel Panic Forums - Как разогнать мой Pentium 4?</title>
    <link href="/static/kernel_panic.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="container">
    <div id="header">
        <h1><span class="green">[</span> Kernel Panic Forums <span class="green">]</span></h1>
        <p>~# Тред: #2</p>
    </div>

    <div id="nav">
        <a href="/kernel_panic">&lt;&lt; Назад к списку тем</a> | <a href="/kernel_panic/404">Регистрация</a>
    </div>

    <div id="content">
        <div class="thread-post">
            <div class="post-author">Overclocker_PRO</div>
            <div class="post-body">
                <p>Привет всем! У меня проц Pentium 4 2.8 ГГц. Хочу разогнать его до 3.5 ГГц. Какое охлаждение лучше поставить? И какие напруги выставлять в биосе?</p>
                <span class="post-date">15.10.2007, 10:15</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">CoolerMan</div>
            <div class="post-body">
                <p>Zalman CNPS7700-Cu. Медный, тихий и эффективный. Для твоего пенька хватит с головой.</p>
                <span class="post-date">15.10.2007, 10:45</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">xX_d3m0n_Xx</div>
            <div class="post-body">
                <p>Не забудь про обдув мосфетов. А то спалишь мамку.</p>
                <span class="post-date">15.10.2007, 11:20</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Overclocker_PRO</div>
            <div class="post-body">
                <p>Спасибо за советы! Поставил Zalman, температура в простое 40 градусов. Буду пробовать гнать.</p>
                <span class="post-date">16.10.2007, 19:50</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">CoolerMan</div>
            <div class="post-body">
                <p>Удачи! Главное, не переусердствуй с напряжением.</p>
                <span class="post-date">16.10.2007, 20:10</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Overclocker_PRO</div>
            <div class="post-body">
                <p>Взял 3.6 ГГц! Дальше - синий экран. Но я и так доволен.</p>
                <span class="post-date">17.10.2007, 15:30</span>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>&copy; 2007 Kernel Panic Forums. Все права защищены.</p>
    </div>
</div>

</body>
</html>
