<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <title>Kernel Panic Forums - Лучший дистрибутив Linux для новичка?</title>
    <link href="/static/kernel_panic.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="container">
    <div id="header">
        <h1><span class="green">[</span> Kernel Panic Forums <span class="green">]</span></h1>
        <p>~# Тред: #3</p>
    </div>

    <div id="nav">
        <a href="/kernel_panic">&lt;&lt; Назад к списку тем</a> | <a href="/kernel_panic/404">Регистрация</a>
    </div>

    <div id="content">
        <div class="thread-post">
            <div class="post-author">linux_fan</div>
            <div class="post-body">
                <p>Хочу попробовать линукс. Какой дистрибутив посоветуете для новичка? Чтобы все из коробки работало.</p>
                <span class="post-date">12.10.2007, 20:00</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Arch_Enjoyer</div>
            <div class="post-body">
                <p>Ставь Arch. Сразу все поймешь.</p>
                <span class="post-date">12.10.2007, 20:15</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Ubuntu_User</div>
            <div class="post-body">
                <p>Ubuntu 7.10 Gutsy Gibbon. Все просто и понятно. И 3D-эффекты Compiz есть!</p>
                <span class="post-date">12.10.2007, 20:30</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Gentoo_Master</div>
            <div class="post-body">
                <p>Если хочешь настоящего контроля - ставь Gentoo. Компиляция из исходников - это тру.</p>
                <span class="post-date">13.10.2007, 09:15</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">linux_fan</div>
            <div class="post-body">
                <p>Попробовал Ubuntu. Все работает, спасибо! Compiz - это вещь!</p>
                <span class="post-date">14.10.2007, 12:00</span>
            </div>
        </div>
        <div class="thread-post">
            <div class="post-author">Slackware_Fan</div>
            <div class="post-body">
                <p>Только Slackware, только хардкор.</p>
                <span class="post-date">14.10.2007, 14:20</span>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>&copy; 2007 Kernel Panic Forums. Все права защищены.</p>
    </div>
</div>

</body>
</html>
